.transparent-background {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #dcdcdc;
    padding: 10px;
  }
  
  .content {
    position: relative;
    /* background-color: rgba(255, 255, 255, 1); */
  }